@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html {
        /* for better anchor link experience */
        --scroll-behavior: smooth;
        scroll-behavior: smooth;
        }

    .chunk h1, .chunk h2, .chunk h3, .fact {
        @apply border-l-4;
        @apply border-gray-500;
        @apply pl-7;
        @apply -ml-10;
    }

    .factSwapped {
        border-left: none;
        border-right: 4px solid;
        @apply border-gray-500;
    }

    .chunk h1:hover, .chunk h2:hover, .chunk h3:hover, .fact:hover {
        @apply border-gray-300 
    }
}